<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="r" class="com.badhacker.dao.impl.DaoImpl">

    </bean>
    <bean id="metier" class="com.badhacker.metier.impl.MetierImpl">
        <constructor-arg ref="r" >

        </constructor-arg>
<!--        <property name="dao" ref="r">-->

<!--        </property>-->
    </bean>

</beans>